@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Brad Traversy Code for header used and editted: https://codepen.io/bradtraversy/pen/eYdMqvx */
header {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

header .row {
  flex-wrap: nowrap;
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h4 {
  margin-top: 2rem;
}

li {
  font-size: 20px;
}

#map {
  position: relative;
  height: 700px;
  width: 100%;
  bottom: 5px;
}

.page-heading {
  margin-top: 2em;
  justify-content: center;
  text-align: center;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

/* Geolocation button styling from: https://developers.google.com/maps/documentation/javascript/geolocation */
.custom-map-control-button {
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 17px Ubuntu, sans-serif;
  overflow: hidden;
}
/* Brad Traversy styling code used and editted: https://codepen.io/bradtraversy/pen/eYdMqvx  */
.toggle {
  position: relative;
  left: 85em;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.showcase {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
  overflow: hidden;
}

.map-section {
  top: 0;
  right: 0;
  width: 100%;
  position: absolute;
  transition: 0.5s;
  z-index: 2;
  overflow: hidden;
}

.map-section header {
  padding: 0 100px;
}

.map-section.active,
.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 4em;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 3em;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover {
  letter-spacing: 6px;
}

.social {
  position: absolute;
  z-index: 10;
  bottom: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.social li {
  list-style: none;
  font-size: 50px;
}

.social li a {
  display: inline-block;
  margin: 0 10px 0 10px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.menu-maps,
.menu-index {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-index {
  background-color: #000;
}

.menu-maps ul,
.menu-index ul {
  position: relative;
}

.menu-maps ul li,
.menu-index ul li {
  list-style: none;
}

.menu-maps ul li a,
.menu-index ul li a {
  text-decoration: none;
  line-height: 50px;
  font-size: 24px;
}

.menu-maps ul li a {
  color: #000;
}

.menu-index ul li a {
  color: #fff;
}

.menu-maps ul li a:hover,
.menu-index ul li a:hover {
  color: #03a9f4;
}

/*====== Media Queries ====== */
/* Ipad */
@media (max-width: 768px) {
  html,
  body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .showcase {
    overflow: hidden;
    top: -15px;
    padding: 40px;
    height: 103vh;
  }

  .showcase header {
    padding: 40px;
  }

  .toggle {
    left: 350px;
  }

  .social {
    bottom: 20px;
    transform: translateX(78%);
  }

  .map-section header {
    padding: 0 45px;
  }
}

/* Mobile Phones */
@media (max-width: 414px) and (min-width: 414px) {
  .toggle {
    left: 35px;
  }

  p {
    visibility: hidden;
  }

  .text h2 {
    font-size: 1em;
  }

  .text h3 {
    font-size: 2em;
  }

  .text h2,
  .text h3 {
    position: relative;
    bottom: 3rem;
  }

  .showcase header {
    top: -15px;
    padding: 40px;
  }

  .social {
    bottom: 0px;
    transform: translateX(12%);
  }

  .menu-maps {
    visibility: hidden;
  }

  .menu-maps.active {
    visibility: visible;
  }
}

@media (max-width: 375px) {
  html,
  body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  p {
    visibility: hidden;
  }

  .logo h2 {
    visibility: visible;
  }

  .showcase {
    overflow: hidden;
    top: -15px;
    padding: 40px;
    height: 103vh;
  }

  .showcase header {
    padding: 25px;
  }

  .toggle {
    left: 25px;
  }

  .text h2 {
    font-size: 1em;
  }

  .text h3 {
    font-size: 2em;
  }

  .text h2,
  .text h3 {
    position: relative;
    bottom: 3rem;
  }

  .social {
    bottom: 0;
    transform: translateX(5%);
  }

  .menu-maps {
    visibility: hidden;
  }

  .menu-maps.active {
    visibility: visible;
  }

  .map-section header {
    padding: 0 25px;
  }
}
