@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*====== Index.html and Maps.html styling ====== */
/* Brad Traversy Code for header used and editted: https://codepen.io/bradtraversy/pen/eYdMqvx */
header {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

header .row {
  flex-wrap: nowrap;
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h4 {
  margin-top: 2rem;
}

li {
  font-size: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.underline {
  text-decoration: underline;
}

.page-heading {
  margin-top: 1em;
  justify-content: center;
  font-size: 75px;
}

/* Underlining the Heading with adjustable border: https://www.steckinsights.com/shorten-length-border-bottom-pure-css/ */
.page-heading:after {
  content: '';
  display: block;
  margin: -10px 10px 10px 10px;
  width: 30%;
  padding-top: 20px;
  border-bottom: 2px solid #000;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.logo a:hover {
  color: #38acec;
}

/* Jumbotron from: https://stackoverflow.com/questions/63141494/how-to-create-jumbotron-in-bootstrap-5 */
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

/* Brad Traversy styling code used and editted: https://codepen.io/bradtraversy/pen/eYdMqvx  */
.toggle {
  position: relative;
  left: 85em;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
  transition: 1s;
}

.showcase {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
  overflow: hidden;
}

.specsForm,
.map-section,
.about-section {
  top: 0;
  right: 0;
  width: 100%;
  position: absolute;
  transition: 0.5s;
  z-index: 2;
  overflow: hidden;
}

.specsForm.active,
.map-section.active,
.showcase.active,
.about-section.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 4em;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 3em;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text .buttons a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin: 20px 0px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.5s;
}

.buttons a:hover {
  background-color: red;
  letter-spacing: 5px;
  margin-left: 10px;
  color: #fff;
}

.specsForm-social,
.map-social,
.social,
.about-social {
  position: absolute;
  z-index: 10;
  bottom: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.specsForm-social,
.map-social,
.about-social {
  bottom: -40px;
  background-color: #000;
}

.specsForm-copyright,
.map-copyright,
.copyright {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.specsForm-copyright,
.map-copyright,
.about-copyright {
  left: 43.2em;
}

.specsForm-social li,
.map-social li,
.about-social li,
.social li {
  list-style: none;
  font-size: 50px;
}

.specsForm-social li,
.map-social li,
.about-social li {
  bottom: 500px;
  transform: translate(-715px, -15px);
}

.specsForm-social li a,
.map-social li a,
.social li a,
.about-social li a {
  display: inline-block;
  margin: 0 10px 0 10px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

.specsForm-social li a:hover,
.map-social li a:hover,
.social li a:hover,
.about-social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.menu ul {
  position: relative;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  line-height: 50px;
  font-size: 24px;
  color: #fff;
}

.menu ul li a:hover {
  color: #38acec;
  letter-spacing: 5px;
  transition: 0.5s;
}

.list-group-item {
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

/* Button shadow styling used and editted: https://codepen.io/seme332/pen/reJOwo */
.btn {
  border-radius: 10px;
  letter-spacing: 3px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  letter-spacing: 6px;
  background-color: #38acec;
  transition: 0.2s;
}

/*====== Maps unique styling ====== */
#map {
  position: relative;
  height: 650px;
  width: 100%;
  bottom: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}

/* Geolocation button styling from: https://developers.google.com/maps/documentation/javascript/geolocation */
.custom-map-control-button {
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 17px Ubuntu, sans-serif;
  overflow: hidden;
}

.map-section header {
  padding: 0 100px;
}

.map-section,
.menuMaps {
  height: 106vh;
}

.map-section.height,
.menuMaps.height {
  height: 162vh;
}

.menuMaps.height ul {
  position: fixed;
  bottom: 25.3em;
}

/*====== Specifications Form ====== */

.specsForm {
  padding: 0 500px 500px 500px;
  height: 100vh;
}

.specsForm .list-group-item {
  font-size: 25px;
}

.specsMenu {
  height: 100vh;
  position: fixed;
}

.specsForm.height {
  height: 255vh;
}

.specsForm .page-heading {
  position: relative;
  right: 10rem;
}

.specsForm h2 {
  position: relative;
  right: 5rem;
}

.specsForm .page-heading:after {
  width: 40%;
}

.specsForm-social {
  left: 0px;
  width: 110vw;
}

/*====== About Us Section ====== */

.about-section,
.aboutMenu {
  height: 140vh;
}

.aboutMenu {
  position: fixed;
}

.aboutMenu ul {
  position: relative;
  bottom: 10em;
}

.about-section .page-heading:after {
  border-bottom: 2px solid #fff;
  width: 18.5%;
}

.about-body {
  padding: 0 400px 400px 400px;
}

/*====== Media Queries ====== */
/* Laptop */
@media (max-width: 1280px) and (min-width: 802px) {
  .map-section {
    min-height: 145vh;
  }

  .map-section.height {
    height: 215vh;
  }

  .map-social li {
    transform: translate(-390px, -15px);
  }

  .map-copyright {
    left: 23.5em;
  }
}

/* Ipad */
@media (max-width: 768px) {
  html,
  body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  #map {
    height: 500px;
    width: 100%;
  }

  .showcase {
    overflow: hidden;
    top: -15px;
    padding: 40px;
    height: 103vh;
  }

  .showcase header {
    padding: 40px;
  }

  .toggle {
    left: 350px;
  }

  .social {
    bottom: 20px;
    transform: translateX(78%);
  }

  .map-section header {
    padding: 0 45px;
  }

  .copyright {
    right: 267px;
  }
}

/* Mobile Phones */
@media (max-width: 414px) and (min-width: 414px) {
  p {
    visibility: hidden;
  }

  #map {
    height: 470px;
    width: 350px;
    left: 20px;
  }

  .toggle {
    left: 35px;
  }

  .text h2 {
    font-size: 1em;
  }

  .text h3 {
    font-size: 2em;
  }

  .text h2,
  .text h3 {
    position: relative;
    bottom: 3rem;
  }

  .showcase header {
    top: -15px;
    padding: 40px;
  }

  .social {
    bottom: 0px;
    transform: translateX(12%);
  }

  .menu-maps {
    visibility: hidden;
  }

  .menu-maps.active {
    visibility: visible;
  }
}

@media (max-width: 375px) {
  html,
  body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  #map {
    height: 450px;
    width: 320px;
    left: 15px;
  }

  .logo h2 {
    visibility: visible;
  }

  .showcase {
    overflow: hidden;
    top: -15px;
    padding: 40px;
    height: 103vh;
  }

  .showcase header {
    padding: 25px;
  }

  .toggle {
    left: 25px;
  }

  .text h2 {
    font-size: 1em;
  }

  .text h3 {
    font-size: 2em;
  }

  .text h2,
  .text h3 {
    position: relative;
    bottom: 0rem;
    top: 2rem;
  }

  .text p {
    /* visibility: hidden; */
    margin-bottom: 7rem;
  }

  .buttons .about a {
    margin: 20px 5.6rem;
  }

  .social {
    bottom: 0;
    transform: translateX(5%);
  }

  .map-social {
    visibility: hidden;
  }

  .menu-maps {
    visibility: hidden;
  }

  .menu-maps.active {
    visibility: visible;
  }

  .map-section header {
    padding: 0 25px;
  }

  .map-section {
    height: 180vh;
  }

  .map-section.height {
    height: 248vh;
  }

  .copyright {
    font-size: 10px;
    display: flex;
    right: 0;
    left: 15px;
    bottom: -10px;
  }
}
